a {
  text-decoration: underline;
}

.upper {
  text-transform: uppercase;
}

.inverse {
  background-color: #4d8dc9;
  color: #FFFFFF;
}

.inverse a,
.inverse h1,
.inverse h2,
.inverse h3 {
  color: #FFFFFF;
}

a,
a>code {
  color: #2F8369;
  text-decoration: underline;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right+* {
  clear: both;
}
